@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  
  
}
header {
  height: 8rem;
  /* background-color: #862a2a; */
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  min-height: 100vh;
  background-color: #fcfcfd;
  display: flex;
  justify-content: center;
}
.backward-icon {
  width: 4.4rem;
  height: 4.4rem;

  border-radius: 50%;
  background-color: #e4e3eb;
  position: absolute;
  top: 120px;
  left: 76px;
}
.backpage-icon {
  margin: 8px;

  font-size: 25px;
  color: #000000;
}
.blog {
  width: 60rem;
  height: 92.8rem;
  margin-top: 40px;
  /* border: 2px solid #000000; */
}
.blog-form {
  display: flex;
  flex-direction: column;
}
.blog-header {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 4rem;
}
.img-header {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.upload-label {
  max-width: 60rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #f4f3ff;
  border-radius: 12px;
  border: 1px dotted #000000;
  margin-bottom: 16px;
}
.upload-label span {
  font-size: 40px;
  color: #5d37f3;
}
.choose-text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  cursor: pointer;
  border-bottom: 2px solid black;
}
.photo-name {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
}
.img-icon {
  display: none;
  font-size: 2.4rem;
  color: #85858d;
}
.input-style {
  width: 28.8rem;
  height: 4.4rem;
  font-size: 1.4rem;
  border-radius: 12px;
  padding: 5px 16px;
  background-color: #fcfcfd;
  border: 1px solid #e4e3eb;
  margin-bottom: 8px;
  outline: none;
}
.section-style{
  min-height: 4.4rem;
  overflow-y: auto;
}
.hide{
  display: none;
}
.margin-bottom{
  margin-bottom: 120px;
}
.categories-values{
  width: 28.8rem;
  height: 4.4rem;
  font-size: 1.4rem;
  border-radius: 12px;
  padding: 5px 16px;
  background-color: #fcfcfd;
  border: 1px solid #e4e3eb;
  /* margin-bottom: 8px;
  outline: none; */
}
.categories-option {
  border: none;
  padding: 8px 8px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 2px;
}

.flex-inputs {
  display: flex;
  justify-content: space-between;
}
.flex-style {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.label-header {
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 600;
  color: #1a1a1f;
  margin-bottom: 8px;
}
.blog-form textarea {
  padding: 16px;
  max-width: 60rem;
  height: 12.4rem;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: 400;
  background-color: #fcfcfd;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  margin-bottom: 8px;
  resize: none;
  outline: none;
}
.flex-style ul {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 20px;
  color: #85858d;
  margin-left: 15px;
  margin-bottom: 8px;
}
.error-msg {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 20px;
  color: #85858d;
  margin-bottom: 16px;
}
.btn-blog {
  width: 28.8rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  background-color: #e4e3eb;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-top: 20px;
  margin-left: 312px;
  cursor: pointer;
}
